@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@700&family=Sacramento&family=Ubuntu&display=swap');

body{
    text-align: center;
    background-color: yellow;
    font-family: 'Merriweather', serif;
}

.dev{
    border-radius: 50px;
    height: 250px;
    width: 250px;
}

.deve{
    font-family: 'Sacramento', cursive;
    font-size: 40px;
}